.news-list {
  padding: 0;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.news {
  margin: 20px;
}

.news-title {
  text-align: center;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
